body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.CardContent{
	font-size:11px;
	text-align: left;
	width: 355px;
	border: 2px solid;
	border-color: #FFFFFF;
	padding: 7px;
}

.content-table {
    margin: 0px auto;
}

.right-align {
  margin-left: 64%;
}

.left-align {
  margin-right: 64%;
}

@media print {
  #printPageButton {
    display: none;
  }
}

@media print {
  #printPageIgnore {
    display: none;
  }
}

#hidden_div{display: none;}

